body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

h1 {
  color: #ff0000;
}

p {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container .ErrorImg{
  width: 100%;
}

.container .autores{
  width: 50%;
  font-size: 10px;
  float: end;
  color: #333333;
}