@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ysabeau+Infant:ital,wght@1,200&display=swap');

:root {
  --white-color: #e7ebff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;

  --facebook: #5b58ff;
  --twitter: #7977f7;
  --whatsapp: #50df2c;
  --messenger: #ba47dd;
}
::-webkit-scrollbar{
  display: none;
}

/* Estilos para la barra de navegación */
.navbar {
  height: 50px;
  backdrop-filter: blur(10px);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 10px;
  margin: 8px;
  z-index: 999;
  box-shadow: 0 0 2px var(--grey-color-light);
  border-radius: 10px;
}

.logo_item {
  display: flex;
  align-items: center;
  margin:5px;
  font-size: 18px;
  color: var(--blue-color);
}

.logo_item img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.logo_item a {
  font-size: 10px;
  color: var(--blue-color);;
  margin-left: 10px;
  text-decoration: none;
}

.search_bar {
  flex-grow: 1;
  margin: 0 10px;
}

.search_bar input[type="text"] {
  width: 90%;
  padding: 6px;
  border: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  font-size: 14px;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.navbar_content i {
  margin-left: 10px;
  font-size: 20px;
  color: var(--grey-color);
  cursor: pointer;
}

/* Estilos para las tarjetas de aplicaciones */
.card {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card .icon {
  margin-bottom: 10px;
}

.card .icon img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  gap: 15px;
  max-width: 900px;
  width: 100%;
  border-radius: 12px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  overflow-x: auto; /* Change to auto for responsiveness */
  scroll-padding: 30px;
}

.container .card-per {
  display: flex;
  flex: 0 0 90%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  background: #fff;
  scroll-snap-align: start;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card-per .image {
  height: 150px;
  width: 150px;
  padding: 4px;
  background: #4070f4;
  border-radius: 50%;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}

.card-per h2 {
  margin-top: 25px;
  color: #333;
  font-size: 22px;
  font-weight: 600;
}

.card-per p {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

p.note {
  background-color: #fff8dc;
  border: 1px solid #ffa500;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.invitacion-discord{
  background-color: var(--white-color);
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 12px;
  margin: 5px;
  font-weight: 600;
  color: #e74d3c;
}

.invitacion-link{
  color: goldenrod;
  text-decoration: none;
}

.link-porta{
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color:  #000;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .container {
    max-width: 85%; /* Allow the container to take the full width */
  }
}


.button-download a.button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  transition: .5s;
}

.button-download a.button:hover {
  transform: scale(0.95);
}

.requeriments  {
  margin: 10px 0;
  color: var(--grey-color);
}

.card .card-content {
  color: var(--grey-color);
  
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.card-content .description {
  font-size: 14px;
  line-height: 1.5;
}

.actualizado {
  color:#ffc524 ;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  font-family: Arial, sans-serif;
}


.card-content .more-info {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.card-content .show-more,
.card-content .show-less {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.card-content .show-more:hover,
.card-content .show-less:hover {
  text-decoration: underline;
}

.rdsocial {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-link {
  color: #707070;
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  background-color: #eee;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.social-link:hover {
  color: #e7ebff;
}

.social-link:hover {
  text-decoration: none;
  background-color: #ccc;
  cursor: pointer;
}

#social-info {
  display: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
}

#social-info.show {
  display: block;
}

#social-text {
  margin: 0;
}
.facebook:hover{
  background: var(--facebook);
}
.twitter:hover{
  background: var(--twitter);
}
.whatsapp:hover{
  background: var(--whatsapp);
}
.messenger:hover{
  background: var(--messenger);
}
/* Ajusta los estilos según tus necesidades */

/*pop up*/

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.popup-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.popup-content h1{
  font-size: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  margin-bottom: 5px;
}

.video-container img {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 120%;
}

.links-app{
  display: flex;
  flex-direction: column;
}

.invitacion-link2{
  font-weight: 600;
  text-decoration: none;
  font-style: 17px;
  margin: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}

/* Estilos adicionales */
body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #282c34;
  color: #000;
}

body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;

  --facebook: #1f1e52;
  --twitter: #242377;
  --whatsapp: #2a6d1a;
  --messenger: #6f1677;
}


#ErrorSearch {
  background-color: var(--blue-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.show-more,
.show-less {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
}

.show-more:hover,
.show-less:hover {
  text-decoration: none;
}

.show-less {
  display: none;
}

footer{   
background-color: var(--white-color); 
color: var(--grey-color); 
padding: 20px;
}


@media screen and (max-width: 768px) {
  .logo_item {
    font-size: 16px;
  }

  .search_bar {
    margin: 0 10px;
  }

  .navbar_content i {
    font-size: 18px;
  }
  
  main {
    margin: 5%;
  }

  .card .icon img {
    width: 250px;
    height: 250px;
  }

  .card-buttons {
    flex-direction: column;
    align-items: center;
  }

  .button-download a.button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .invitacion-discord {
    font-size: 12px;
    font-weight: 700;
    color: #e74d3c;
  }
  
  .invitacion-link {
    font-size: 13px;
    color: goldenrod;
    text-decoration: none;
  }
}

/* Estilos para dispositivos de escritorio y tabletas */
@media screen and (min-width: 481px) {
  /* Coloca aquí los estilos específicos para dispositivos de escritorio y tabletas */
  .logo_item {
    font-size: 18px;
  }

  .search_bar {
    margin: 0 10px;
  }

  .navbar_content i {
    font-size: 20px;
  }
  
  main {
    margin: 90px;
  }
}

