*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwD3APD-bTIudrkZLaha8vMJ9KAvEVFmt2aA&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

main{
  margin:20px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-items: center;
  grid-gap: 5px; /* Reduce el espacio entre las tarjetas */
  justify-items: stretch; /* Las tarjetas se estiran para ocupar todo el ancho de la columna*/
}

.etiquetas {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}

.etiquetas span {
  display: inline-block;
  background-color: #00cc00;
  color: #fff;
  padding: 3px 8px;
  margin-right: 5px;
  border-radius: 3px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #6c4bff;
  display: flex; /* Agregamos esta propiedad para usar flexbox */
  /*flex-direction: column;  Mostrar los elementos en columnas */
}

.menu li {
  display: block; /* Cambiamos de float: left a display: block */
}

.menu ul {
  display: flex;
}

.menu li .menopc {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.menu li .menopc:hover {
  background-color: #111;
}


.menu-icon {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover{
  background-color: #111;
  color: white;
}

.dropbtn {
  background-color: #6c4bff;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  
}

 .dropdown-content .opcs {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content .opcs:hover {
  background-color: black;
  color: white;
}


.show {
  display: block;
}

.search {
  margin-bottom: 10px;
}

#searchInput {
  padding: 5px;
  width: 200px;
}

#searchMessage {
  width: 100%;
  background-color: red;
  color: white;
  padding: 5px;
}


.card {
  width: 100%;
  /*background-color: #f4f4f4;*/
  background-color: rgba(0, 255, 255, 0.6);
  margin-bottom: 5px;
  border-radius: 10px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}

.card img {
  margin: 10px;
  max-width: 90%;
  margin-bottom: 10px;
  border-radius: 20px;
}

.card-content {
  padding: 5px;
}
.card-content a{
  margin: 10px;
  
}

.card-content h2 {
  margin: 10px;
  margin-top: 0;
}
   
.more-info p.note {
  background-color: #fff8dc;
  border: 1px solid #ffa500;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.enlazados{
  text-decoration: none;
  color: orange;
  font-weight: bold;
}
   
.more-info{
  margin: 10px;
}

.more-info p {
  color: white;
  margin: 5px;
}

.card .more-info p b {
  color: orange;
}

.card-content p.description{
  margin: 10px;
  color: whitesmoke;
}

.card-content p.description .show-more,
.card-content p.description .show-less {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}

.more-info {
  display: none;
  padding-top: 10px;
}

 .button svg{
   background-color: white;
 }

.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}


/* Estilos para dispositivos móviles */

@media only screen and (max-width: 768px) {
  
  .menu li {
    display: block;
  }
  
  .menu ul {
    display: none;
  }

  
  dropdown-content {
    box-shadow: none;
  }
  
  .cards{
    grid-template-columns: repeat(1, 1fr); /* Dos columnas en dispositivos con una medida de 768 píxeles de ancho */
    grid-gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .card {
    width: 100%;
    display: block;
  }
  
  .card img {
    width: 80%;
  }
  
  .card-content p.description {
    max-height: none;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 480px) {
  
  .menu li {
    display: block;
  }
  
  .menu ul {
    display: none;
  }
  
  .menu-icon {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    cursor: pointer;
  }
  
  .dropdown-content {
    box-shadow: none;
  }

  .cards {
    grid-template-columns: 1 1fr; /* Una columna en dispositivos móviles */
    grid-gap: 20px; /* Espacio entre las tarjetas */
  }

  .card {
    width: 100%;
  }
}

/* Estilos para tablets y dispositivos de tamaño medio */
@media only screen and (min-width: 481px) and (max-width: 1024px) {

  .menu {
    flex-direction: row;
  }
  
  .menu li {
    display: block;
  }
  
  .menu ul {
    display: none;
  }
  
  .dropdown-content {
    box-shadow: none;
  }

  .cards{
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en tablets y dispositivos de tamaño medio */
    grid-gap: 20px; /* Espacio entre las tarjetas */
  }

  .card {
    width: 100%;
  }
}

/* Estilos para computadoras */
@media only screen and (min-width: 1025px) {
  
  .menu {
    flex-direction: row;
  }
  
  .menu li {
    display: block;
  }
  
  .menu ul {
    display: flex;
  }
  
  .dropdown-content {
    position: absolute;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr); /* Tres columnas en computadoras */
    grid-gap: 20px; /* Espacio entre las tarjetas */
  }

  .card {
    width: 100%;
  }
}
